Este Notebook es para realizar pruebas de la estructura que tengo en mente.

In [2]:
from Structure import Core
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords

Base = Core(INSTRUMENT='PIONIER',RANGE='1m',time_it=True)

Base.meta_tokenization()

stop_words = stopwords.words('english')

Base.meta_vectorization(stop_words=stop_words)

X, y = Base.transfer_matrix()
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

Loading Metadata for:
INSTRUMENT: PIONIER
RANGE: 1m

Done.
meta_tokenization  Execution time:  8.328014300001087  Seconds
meta_vectorization  Execution time:  5.16360480000003  Seconds

In [4]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, accuracy_score

classifier = MultinomialNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

accuracy = accuracy_score(y_test,y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:")
print(classification_rep)

Accuracy: 0.94
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.94      0.97       328
           1       0.26      0.88      0.40         8

    accuracy                           0.94       336
   macro avg       0.63      0.91      0.68       336
weighted avg       0.98      0.94      0.95       336

In [14]:
#Base.meta_data['Word_vector'] = vector_series.toarray().tolist()
Base.meta_data.head(2)

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens,Classification,Word_vector
0,2019-04-10 00:16:03.269,2019-04-10 00:20:35.831,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,272.0,AT,"[[Started, at, underlined], [Celestial, target...",0,"[0, 0, 0, 0, 4, 0, 32, 0, 0, 0, 27, 0, 0, 0, 3..."
1,2019-04-10 00:20:35.848,2019-04-10 00:42:17.085,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1301.0,AT,"[[Celestial, target, observation, yellow], [St...",0,"[0, 0, 0, 1, 0, 0, 20, 0, 0, 0, 32, 0, 0, 0, 0..."

In [1]:
from Structure import Core

Base = Core(time_it=True)  # El objeto por defecto obtiene el dataframe de load_meta('MATISSE','1d')
                           # el argumento "time_it" es solo para activar un medidor de tiempo de los m√©todos.

Loading Metadata for:
INSTRUMENT: MATISSE
RANGE: 1d

Done.

In [2]:
Base.meta_data.head()  # el habitual "df_meta" queda guardado en el atributo meta_data

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
0,2019-04-10 00:16:03.269,2019-04-10 00:20:35.831,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,272.0,AT
1,2019-04-10 00:20:35.848,2019-04-10 00:42:17.085,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1301.0,AT
2,2019-04-10 00:42:17.106,2019-04-10 01:11:09.300,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1732.0,AT
3,2019-04-10 01:11:09.325,2019-04-10 01:22:27.609,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,678.0,AT
4,2019-04-10 01:22:40.579,2019-04-10 01:29:34.127,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,413.0,AT

In [3]:
Base.meta_data[Base.meta_data['ERROR'] == True]  # Buscar un error

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
9,2019-04-10 02:29:03.290,2019-04-10 02:34:37.571,False,MATISSE,bob_ins,MATISSE_img_acq,True,False,334.0,AT
51,2019-04-10 20:57:47.358,2019-04-10 21:05:44.126,False,MATISSE,bob_ins,errseverity,True,False,476.0,AT
52,2019-04-10 21:05:44.126,2019-04-10 21:09:08.833,False,MATISSE,bob_ins,errseverity,True,False,204.0,AT

In [4]:
Base.load_trace(index=9)  # el m√©todo "load_trace" cargar√° la traza asociada al seleccionado √≠ndice

Execution time:  0.002462900010868907  Seconds

In [5]:
Base.meta_tokenization()  # Este m√©todo tokenizar√° cada traza en meta_data y lo cargar√° en una columna llamada "Trace_tokens"

Execution time:  1.9439139000023715  Seconds

In [7]:
Base.meta_vectorization()

Execution time:  1.5841298999730498  Seconds

In [27]:
Base.meta_data['Classification'] = Base.meta_data['ERROR'].to_numpy().astype(int)

In [8]:
Base.meta_data.head()

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens,Classification,Word_vector
0,2019-04-10 00:16:03.269,2019-04-10 00:20:35.831,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,272.0,AT,"[[Started, at, underlined], [Celestial, target...",0,"[0, 0, 0, 0, 4, 0, 32, 0, 0, 0, 27, 0, 0, 0, 3..."
1,2019-04-10 00:20:35.848,2019-04-10 00:42:17.085,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1301.0,AT,"[[Celestial, target, observation, yellow], [St...",0,"[0, 0, 0, 1, 0, 0, 20, 0, 0, 0, 32, 0, 0, 0, 0..."
2,2019-04-10 00:42:17.106,2019-04-10 01:11:09.300,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1732.0,AT,"[[Celestial, target, observation, yellow], [St...",0,"[0, 0, 0, 1, 0, 0, 20, 0, 0, 0, 32, 0, 0, 0, 0..."
3,2019-04-10 01:11:09.325,2019-04-10 01:22:27.609,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,678.0,AT,"[[Started, at, underlined], [WLMINCUT, VAL], [...",0,"[0, 0, 0, 0, 0, 0, 12, 0, 0, 0, 8, 0, 0, 0, 0,..."
4,2019-04-10 01:22:40.579,2019-04-10 01:29:34.127,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,413.0,AT,"[[Celestial, target, acquisition, yellow], [St...",0,"[0, 0, 0, 0, 4, 0, 40, 0, 0, 0, 32, 0, 0, 0, 4..."

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
import pandas as pd
df = Base.meta_data.copy()
#df : pd.DataFrame
df['text'] = df['Trace_tokens'].apply(lambda token_list:' '.join([' '.join(tokens) for tokens in token_list]))  # esto va entregar un vector x log (debo probar con una matriz x log)
print(df['text'])

0       Started at underlined Celestial target acquisi...
1       Started at underlined INTERFX VAL APOX VAL NCO...
2       Started at underlined Celestial target acquisi...
3       Started at underlined NCOHERENT VAL SNRLIMIT V...
4       Started at underlined APOTYPE VAL DEL REF NAME...
                              ...
1328    Started at underlined INS WHAT DAY Executing A...
1329    Celestial target acquisition yellow Started at...
1330    Started at underlined Celestial target acquisi...
1331    Celestial target observation yellow Started at...
1332    Celestial target acquisition yellow Started at...
Name: text, Length: 1333, dtype: object

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

X = vectorizer.fit_transform(df['text'])

#vectorized_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

vector_list = X.toarray().tolist()

In [6]:
Base.trace_tokenization()  # el tokenizador de trazas puede recibir argumetos en expresiones regulares para probar dist√≠ntos filtros

Execution time:  0.024202400003559887  Seconds

60067             [Celestial, target, acquisition, yellow]
60068                            [Started, at, underlined]
60069                                      [WLMINCUT, VAL]
60070                         [COU, AG, GSSOURCE, SCIENCE]
60071                                     [COU, AG, EPOCH]
                               ...
62950                               [SETUP, command, done]
62951                                                   []
62952                                 [Template, finished]
62953              [Finished, in, seconds, at, underlined]
62954    [TplExecTimeStats, TPL, ID, estimated, real, d...
Name: logtext, Length: 2888, dtype: object

In [7]:
Base.trace_tokenization(regexp=r'\D+')

Execution time:  0.0172131999861449  Seconds

60067    [MATISSE_img_acq -- Celestial target acquisiti...
60068          [Started at , -, -, T, :, :,  (underlined)]
60069                       [DET,  WLMINCUT VAL = ', ., ']
60070                        [COU AG GSSOURCE = 'SCIENCE']
60071                                [COU AG EPOCH = ', ']
                               ...
62950                                [SETUP command done.]
62951                                [-,  (SpringGreen, )]
62952                 [Template MATISSE_img_acq finished.]
62953    [Finished in ,  seconds at , -, -, T, :, :,  (...
62954    [TplExecTimeStats: TPL.ID MATISSE_img_acq  est...
Name: logtext, Length: 2888, dtype: object

In [11]:
Base.trace_tokenization(regexp=r'[a-zA-Z]+')

Execution time:  0.02167299995198846  Seconds

60067    [MATISSE, img, acq, Celestial, target, acquisi...
60068                         [Started, at, T, underlined]
60069                                 [DET, WLMINCUT, VAL]
60070                         [COU, AG, GSSOURCE, SCIENCE]
60071                                     [COU, AG, EPOCH]
                               ...
62950                               [SETUP, command, done]
62951                                        [SpringGreen]
62952              [Template, MATISSE, img, acq, finished]
62953           [Finished, in, seconds, at, T, underlined]
62954    [TplExecTimeStats, TPL, ID, MATISSE, img, acq,...
Name: logtext, Length: 2888, dtype: object

In [9]:
Base.trace_tokenization(regexp=r'\s+', gaps=True)

Execution time:  0.02972099999897182  Seconds

60067    [MATISSE_img_acq, --, Celestial, target, acqui...
60068     [Started, at, 2019-04-10T02:29:03, (underlined)]
60069                      [DET1, WLMINCUT, VAL, =, '3.0']
60070                    [COU, AG, GSSOURCE, =, 'SCIENCE']
60071                          [COU, AG, EPOCH, =, '2000']
                               ...
62950                              [SETUP, command, done.]
62951                                 [-1, (SpringGreen4)]
62952               [Template, MATISSE_img_acq, finished.]
62953    [Finished, in, 334, seconds, at, 2019-04-10T02...
62954    [TplExecTimeStats:, TPL.ID, MATISSE_img_acq, e...
Name: logtext, Length: 2888, dtype: object

In [ ]:
logs = Base.trace_data.logtext.to_list()
logs  # err in 642

In [22]:
Base.trace_data[Base.trace_data['logtext'].str.contains('ERR_')][:5]

,@timestamp,system,hostname,loghost,logtype,envname,procname,procid,module,keywname,keywvalue,keywmask,logtext,trace_id
60164,2019-04-10 02:29:04.439,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,9
60370,2019-04-10 02:29:15.665,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issprsControl,22.0,evh,,,,evhERR_CMD_NOT_CHECKED : Command SETUP not che...,9
60458,2019-04-10 02:29:16.628,AT4,wat4tcs,wat4tcs,ERR,wat4tcs,atagwsControl,70.0,eccs,,,,eccsERR_BUF_TOO_BIG : Buffer too big. Size: 70...,9
60467,2019-04-10 02:29:16.631,AT3,wat3tcs,wat3tcs,ERR,wat3tcs,atagwsControl,70.0,eccs,,,,eccsERR_BUF_TOO_BIG : Buffer too big. Size: 70...,9
60501,2019-04-10 02:29:16.634,AT2,wat2tcs,wat2tcs,ERR,wat2tcs,atagwsControl,70.0,eccs,,,,eccsERR_BUF_TOO_BIG : Buffer too big. Size: 70...,9

In [23]:
Base.load_trace(index=10)

In [25]:
Base.trace_data[Base.trace_data['logtext'].str.contains('ERR_')][:5]

,@timestamp,system,hostname,loghost,logtype,envname,procname,procid,module,keywname,keywvalue,keywmask,logtext,trace_id
63160,2019-04-10 02:35:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63255,2019-04-10 02:36:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63388,2019-04-10 02:36:40.103,MATISSE,wmt,wmt,ERR,wvgvlti,issalignControl,31.0,issalig,,,,issalignERR_EVT_TIMEOUT : TIMEOUT in sub-state...,10
63441,2019-04-10 02:37:04.441,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63537,2019-04-10 02:38:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10

In [27]:
Base.trace_data['logtype'].unique()
Base.trace_data[Base.trace_data['logtype'] == 'ERR'][:5]

,@timestamp,system,hostname,loghost,logtype,envname,procname,procid,module,keywname,keywvalue,keywmask,logtext,trace_id
63160,2019-04-10 02:35:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63255,2019-04-10 02:36:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63388,2019-04-10 02:36:40.103,MATISSE,wmt,wmt,ERR,wvgvlti,issalignControl,31.0,issalig,,,,issalignERR_EVT_TIMEOUT : TIMEOUT in sub-state...,10
63441,2019-04-10 02:37:04.441,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63537,2019-04-10 02:38:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10

In [29]:
# Buscar errores en logtype es equivalente a buscar la palabra ERR_ en el logtext
Base.trace_data[Base.trace_data['logtype'] == 'ERR'].equals(Base.trace_data[Base.trace_data['logtext'].str.contains('ERR_')])

True