Este notebook describirá los procesos realizados por la clase Core.

La clase Core es importada del archivo Structure, su inicialización cargará automáticamente el dataset en el atributo 'dataset'.

El atributo 'meta_data' guarda el resultado de la función 'load_meta' con los metadatos.
Puede ver el rango de tiempo seleccionado en el atributo 'RANGE' y el instrumento en 'INSTRUMENT'.

El atributo 'time_it' mantendrá un seguimiento de los tiempos de ejecución de métodos con fines de realizar un seguimiento para mejor desarrollo.

In [3]:
from Structure import Core

Base = Core(INSTRUMENT='PIONIER',RANGE='1w',time_it=True)

Loading Metadata for:
INSTRUMENT: PIONIER
RANGE: 1w

Done.
Method:  sample_meta   Execution time:  0.004273700062185526  Seconds

In [4]:
Base.dataset.info()  #  dataset completo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260623 entries, 0 to 260622
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   @timestamp  260623 non-null  datetime64[ns]
 1   system      260623 non-null  object
 2   hostname    260623 non-null  object
 3   loghost     260623 non-null  object
 4   logtype     260623 non-null  object
 5   envname     260623 non-null  object
 6   procname    260623 non-null  object
 7   procid      260623 non-null  float64
 8   module      260623 non-null  object
 9   keywname    260623 non-null  object
 10  keywvalue   260623 non-null  object
 11  keywmask    260623 non-null  object
 12  logtext     260623 non-null  object
 13  trace_id    260623 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 27.8+ MB

In [5]:
# Atributo meta_data
Base.meta_data.info()
Base.meta_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   START     394 non-null    datetime64[ns]
 1   END       394 non-null    datetime64[ns]
 2   TIMEOUT   394 non-null    bool
 3   system    394 non-null    object
 4   procname  394 non-null    object
 5   TPL_ID    394 non-null    object
 6   ERROR     394 non-null    bool
 7   Aborted   394 non-null    bool
 8   SECONDS   394 non-null    float64
 9   TEL       394 non-null    object
dtypes: bool(3), datetime64[ns](2), float64(1), object(4)
memory usage: 22.8+ KB

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
0,2019-04-01 22:29:07.746,2019-04-01 22:29:10.519,False,PIONIER,bob_ins,PIONIER_gen_tec_setup,False,False,2.0,AT
1,2019-04-02 07:40:48.591,2019-04-02 07:41:21.459,False,PIONIER,bob_25299,PIONIER_gen_tec_setup,False,False,32.0,AT
2,2019-04-02 07:41:21.488,2019-04-02 07:42:52.294,False,PIONIER,bob_25299,PIONIER_gen_tec_niobate,False,False,90.0,AT
3,2019-04-02 07:42:52.314,2019-04-02 07:43:24.984,False,PIONIER,bob_25299,PIONIER_gen_tec_setup,False,False,32.0,AT
4,2019-04-02 09:21:52.714,2019-04-02 09:22:25.281,False,PIONIER,bob_ins,PIONIER_gen_tec_setup,False,False,32.0,AT

El método 'sample_meta' define al atributo 'target_data' que es un subconjunto de datos con el cual trabajar.
Su argumento principal es 'success_ratio' que selecciona todos los errores y los concatena con una cantidad de éxitos aleatorios proporcional al valor ingresado.
(por defecto su valor es 1, es decir, si la muestra tiene $n$ errores también lo tendrán los éxitos, si el valor es 2 se eligen $n$ errores y $2n$ éxitos.)

Si se elige el valor de target_meta = True, entonces el atributo apuntará directamente a "meta_data".

In [6]:
Base.target_data  # success_ratio = 1

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
14,2019-04-02 09:25:47.044,2019-04-02 09:26:21.770,False,PIONIER,bob_ins,PIONIER_gen_cal_dark,False,False,34.0,AT
296,2019-04-07 07:07:16.843,2019-04-07 07:12:34.429,False,PIONIER,bob_ins,PIONIER_obs_calibrator,False,False,317.0,AT
47,2019-04-03 00:49:52.943,2019-04-03 00:58:25.647,False,PIONIER,bob_ins,PIONIER_gen_tec_scan,True,False,512.0,AT
58,2019-04-03 01:14:09.460,2019-04-03 01:14:14.909,False,PIONIER,bob_ins,PIONIER_acq,True,False,5.0,AT

In [7]:
Base.sample_meta(success_ratio=3)  # Si hay 2 errores, entonces hay 2*3= 6 éxitos (ERROR = False)
Base.target_data

Method:  sample_meta   Execution time:  0.0057363000232726336  Seconds

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
316,2019-04-07 08:14:59.473,2019-04-07 08:22:22.838,False,PIONIER,bob_ins,PIONIER_obs_science,False,False,443.0,AT
135,2019-04-04 07:23:50.649,2019-04-04 07:24:21.431,False,PIONIER,bob_ins,PIONIER_gen_cal_fringes,False,False,30.0,AT
50,2019-04-03 01:01:25.736,2019-04-03 01:02:46.615,False,PIONIER,bob_ins,PIONIER_gen_cal_kappa,False,False,80.0,AT
365,2019-04-07 10:38:41.170,2019-04-07 10:38:43.062,False,PIONIER,bob_ins,PIONIER_gen_tec_scan,False,False,1.0,AT
99,2019-04-03 17:07:45.903,2019-04-03 17:08:08.883,False,PIONIER,bob_ins,PIONIER_gen_tec_setup,False,False,22.0,AT
363,2019-04-07 10:38:07.184,2019-04-07 10:38:26.185,False,PIONIER,bob_ins,PIONIER_gen_cal_fringes,False,False,19.0,AT
47,2019-04-03 00:49:52.943,2019-04-03 00:58:25.647,False,PIONIER,bob_ins,PIONIER_gen_tec_scan,True,False,512.0,AT
58,2019-04-03 01:14:09.460,2019-04-03 01:14:14.909,False,PIONIER,bob_ins,PIONIER_acq,True,False,5.0,AT

In [8]:
# Cuando se utiliza target_meta = True, se apuntará a la misma celda de memoria que el atributo meta_data (target_data = meta_data)
Base.sample_meta(target_meta=True)
print('target_data memory identifier: ',id(Base.target_data))
print('meta_data memory identifier: ',id(Base.meta_data))
print('Equal: ',id(Base.target_data) == id(Base.meta_data))
Base.target_data.head()

target_data memory identifier:  2143043575936
meta_data memory identifier:  2143043575936
Equal:  True

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
0,2019-04-01 22:29:07.746,2019-04-01 22:29:10.519,False,PIONIER,bob_ins,PIONIER_gen_tec_setup,False,False,2.0,AT
1,2019-04-02 07:40:48.591,2019-04-02 07:41:21.459,False,PIONIER,bob_25299,PIONIER_gen_tec_setup,False,False,32.0,AT
2,2019-04-02 07:41:21.488,2019-04-02 07:42:52.294,False,PIONIER,bob_25299,PIONIER_gen_tec_niobate,False,False,90.0,AT
3,2019-04-02 07:42:52.314,2019-04-02 07:43:24.984,False,PIONIER,bob_25299,PIONIER_gen_tec_setup,False,False,32.0,AT
4,2019-04-02 09:21:52.714,2019-04-02 09:22:25.281,False,PIONIER,bob_ins,PIONIER_gen_tec_setup,False,False,32.0,AT

Para cambiar de instrumento se aplica el método load_meta (que llamará a la función load_meta)

In [9]:
Base.load_meta(INSTRUMENT='MATISSE',RANGE='6m')
Base.sample_meta(success_ratio=4)
Base.target_data

Loading Metadata for:
INSTRUMENT: MATISSE
RANGE: 6m

Done.
Method:  load_meta   Execution time:  43.19631109992042  Seconds
Method:  sample_meta   Execution time:  0.002775199944153428  Seconds

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
6360,2019-09-25 03:43:18.035,2019-09-25 03:45:45.833,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,147.0,AT
2759,2019-06-03 02:51:03.350,2019-06-03 03:11:01.827,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1198.0,AT
2769,2019-06-03 04:59:13.880,2019-06-03 05:19:11.046,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1197.0,AT
2484,2019-05-29 22:50:42.958,2019-05-29 22:55:33.725,False,MATISSE,bob_ins,MATISSE_img_acq_ft,False,False,290.0,AT
5375,2019-08-28 11:03:49.608,2019-08-28 11:04:23.885,False,MATISSE,bob_ins,MATISSE_gen_cal_bias,False,False,34.0,AT
...,...,...,...,...,...,...,...,...,...,...
6586,2019-09-28 23:55:04.072,2019-09-29 00:27:05.352,False,MATISSE,bob_ins,MATISSE_gen_tec_ali,True,False,1921.0,AT
6595,2019-09-29 02:55:34.826,2019-09-29 03:04:24.846,False,MATISSE,bob_ins,MATISSE_gen_tec_ali,True,False,530.0,AT
6596,2019-09-29 03:06:54.919,2019-09-29 03:20:55.691,False,MATISSE,bob_ins,MATISSE_gen_tec_ali,True,False,840.0,AT
6598,2019-09-29 03:38:30.148,2019-09-29 04:06:36.639,False,MATISSE,bob_ins,MATISSE_gen_tec_ali,True,False,1686.0,AT
6604,2019-09-30 00:45:51.212,2019-09-30 01:10:01.779,False,MATISSE,bob_ins,MATISSE_img_acq,True,False,1450.0,AT

Podemos cargar una traza del dataset en el atributo 'trace_data' utilizando el método load_trace(index) que recibe el índice y lo almacena en el atributo 'trace_index'.

In [10]:
Base.load_trace(index=11)

print('trace_id: ',Base.trace_index)  # Equivalente a leer la columna 'trace_id' de la traza
Base.trace_data.head()

Method:  load_trace   Execution time:  0.081472999881953  Seconds
trace_id:  11

,@timestamp,system,hostname,loghost,logtype,envname,procname,procid,module,keywname,keywvalue,keywmask,logtext,trace_id
43622,2019-04-02 09:34:23.585,MATISSE,wmt,wmt,LOG,wmt,bob_ins,21.0,seq,,,,Started at 2019-04-02T09:34:23 (underlined),11
43623,2019-04-02 09:34:23.686,MATISSE,wmt,wmt,LOG,wmt,bob_ins,21.0,seq,,,,DET1 NCOHERENT VAL = '1.',11
43624,2019-04-02 09:34:23.686,MATISSE,wmt,wmt,LOG,wmt,bob_ins,21.0,seq,,,,DET1 NINCOHERENT VAL = '1.',11
43625,2019-04-02 09:34:23.686,MATISSE,wmt,wmt,LOG,wmt,bob_ins,21.0,seq,,,,DET1 INTERFY VAL = '512',11
43626,2019-04-02 09:34:23.686,MATISSE,wmt,wmt,LOG,wmt,bob_ins,21.0,seq,,,,DET1 APOTYPE VAL = '0',11

El método trace_tokenization devuelve una tokenización de la columna "logtext" en la traza como un objeto pandas.Series. Bajo el setting 'RegExp' se utiliza un tokenizador de expresiones regulares (por ahora es el único). Esto se realiza llamando a la clase "Custom_Tokenizer" del archivo Structure.

Puede incorporar como kwargs un diccionario con argumentos dependiente del setting.

setting = 'RegExp':
  -  'regexp' (str) : expresión regular para realizar la tokenización.
  -  'gaps'(bool) : si es True se omiten espacios en la tokenización.

In [11]:
# Algunas expresiones regulares para probar

tokenizer_args = {'regexp': r'\s+', 'gaps' : True}  # Conservar letras y reemplazar el resto por espacios.
Trace = Base.trace_tokenization(**tokenizer_args)

print(Trace.head())

tokenizer_args = {'regexp': r'\D+', 'gaps': False}  # Eliminar solo números
Trace = Base.trace_tokenization(**tokenizer_args)
print(Trace.head())

Trace = Base.trace_tokenization()  # default  regexp = r'\b[a-zA-Z]+\b' , gaps = False
print(Trace.head())

Method:  trace_tokenization   Execution time:  0.012964099878445268  Seconds
43622    [Started, at, 2019-04-02T09:34:23, (underlined)]
43623                     [DET1, NCOHERENT, VAL, =, '1.']
43624                   [DET1, NINCOHERENT, VAL, =, '1.']
43625                      [DET1, INTERFY, VAL, =, '512']
43626                        [DET1, APOTYPE, VAL, =, '0']
Name: logtext, dtype: object
Method:  trace_tokenization   Execution time:  0.0037591999862343073  Seconds
43622    [Started at , -, -, T, :, :,  (underlined)]
43623                  [DET,  NCOHERENT VAL = ', .']
43624                [DET,  NINCOHERENT VAL = ', .']
43625                     [DET,  INTERFY VAL = ', ']
43626                     [DET,  APOTYPE VAL = ', ']
Name: logtext, dtype: object
Method:  trace_tokenization   Execution time:  0.007427999982610345  Seconds
43622    [Started, at, underlined]
43623             [NCOHERENT, VAL]
43624           [NINCOHERENT, VAL]
43625               [INTERFY, VAL]
43626               [APOTYPE, VAL]
Name: logtext, dtype: object

Para tokenizaciones se recomienda trabajar solo en el conjunto objetivo (target_data) en lugar del meta_data completo. Transmite los mismos argumentos que trace_tokenization en un diccionario de kwargs.

El resultado es una columna nueva llamada Trace_tokens que almacena en una lista de listas la tokenización de los logs.

In [12]:
tokenizer_args = {'regexp': r'\D+', 'gaps': False}  # Eliminar solo números
Base.target_tokenization(**tokenizer_args)
Base.target_data.head()

Method:  target_tokenization   Execution time:  63.04001619992778  Seconds

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens
6360,2019-09-25 03:43:18.035,2019-09-25 03:45:45.833,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,147.0,AT,"[[Started at , -, -, T, :, :, (underlined)], ..."
2759,2019-06-03 02:51:03.350,2019-06-03 03:11:01.827,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1198.0,AT,"[[Started at , -, -, T, :, :, (underlined)], ..."
2769,2019-06-03 04:59:13.880,2019-06-03 05:19:11.046,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1197.0,AT,"[[Started at , -, -, T, :, :, (underlined)], ..."
2484,2019-05-29 22:50:42.958,2019-05-29 22:55:33.725,False,MATISSE,bob_ins,MATISSE_img_acq_ft,False,False,290.0,AT,"[[Started at , -, -, T, :, :, (underlined)], ..."
5375,2019-08-28 11:03:49.608,2019-08-28 11:04:23.885,False,MATISSE,bob_ins,MATISSE_gen_cal_bias,False,False,34.0,AT,"[[Started at , -, -, T, :, :, (underlined)], ..."

In [13]:
Base.target_tokenization()  # Recibe el argumento por defecto de trace_tokenization
Base.target_data.head()

Method:  target_tokenization   Execution time:  72.62510660011321  Seconds

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens
6360,2019-09-25 03:43:18.035,2019-09-25 03:45:45.833,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,147.0,AT,"[[Started, at, underlined], [Celestial, target..."
2759,2019-06-03 02:51:03.350,2019-06-03 03:11:01.827,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1198.0,AT,"[[Started, at, underlined], [APOX, VAL], [INTE..."
2769,2019-06-03 04:59:13.880,2019-06-03 05:19:11.046,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1197.0,AT,"[[Started, at, underlined], [Celestial, target..."
2484,2019-05-29 22:50:42.958,2019-05-29 22:55:33.725,False,MATISSE,bob_ins,MATISSE_img_acq_ft,False,False,290.0,AT,"[[Started, at, underlined], [INTERFY, VAL], [A..."
5375,2019-08-28 11:03:49.608,2019-08-28 11:04:23.885,False,MATISSE,bob_ins,MATISSE_gen_cal_bias,False,False,34.0,AT,"[[Started, at, underlined], [DEL, REF, MODE, A..."

La vectorización se realiza utilizando el método 'target_vetorization' que por ahora solo utiliza un CountVectorizer, también permite la recepción de una lista de stopwords mediante el kwarg 'stop_words'.

In [14]:
Base.target_vectorization()
Base.target_data.head()

Method:  target_vectorization   Execution time:  30.87645459990017  Seconds

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens,Classification,Word_vector
6360,2019-09-25 03:43:18.035,2019-09-25 03:45:45.833,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,147.0,AT,"[[Started, at, underlined], [Celestial, target...",0,"[0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 35, 0, 0, 0,..."
2759,2019-06-03 02:51:03.350,2019-06-03 03:11:01.827,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1198.0,AT,"[[Started, at, underlined], [APOX, VAL], [INTE...",0,"[0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 8, 4, 0, 0, ..."
2769,2019-06-03 04:59:13.880,2019-06-03 05:19:11.046,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1197.0,AT,"[[Started, at, underlined], [Celestial, target...",0,"[0, 0, 0, 1, 0, 0, 0, 4, 0, 0, 0, 40, 0, 0, 0,..."
2484,2019-05-29 22:50:42.958,2019-05-29 22:55:33.725,False,MATISSE,bob_ins,MATISSE_img_acq_ft,False,False,290.0,AT,"[[Started, at, underlined], [INTERFY, VAL], [A...",0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 16, 0, 0, 0,..."
5375,2019-08-28 11:03:49.608,2019-08-28 11:04:23.885,False,MATISSE,bob_ins,MATISSE_gen_cal_bias,False,False,34.0,AT,"[[Started, at, underlined], [DEL, REF, MODE, A...",0,"[0, 0, 1, 3, 0, 0, 0, 4, 0, 0, 0, 48, 0, 0, 0,..."

In [15]:
from nltk.corpus import stopwords
print('Dimensión de vectores sin eliminación de stopwords: ',len(Base.target_data['Word_vector'].to_list()[0]))

stop_words = stopwords.words('english')
Base.target_vectorization(stop_words=stop_words)
print('Dimensión de vectores con eliminación de stopwords en inglés: ',len(Base.target_data['Word_vector'].to_list()[0]))

Base.target_data.head()

Dimensión de vectores sin eliminación de stopwords:  2920
Method:  target_vectorization   Execution time:  29.344129499979317  Seconds
Dimensión de vectores con eliminación de stopwords en inglés:  2844

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens,Classification,Word_vector
6360,2019-09-25 03:43:18.035,2019-09-25 03:45:45.833,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,147.0,AT,"[[Started, at, underlined], [Celestial, target...",0,"[0, 0, 0, 0, 0, 4, 0, 0, 0, 35, 0, 0, 0, 0, 0,..."
2759,2019-06-03 02:51:03.350,2019-06-03 03:11:01.827,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1198.0,AT,"[[Started, at, underlined], [APOX, VAL], [INTE...",0,"[0, 0, 1, 2, 0, 0, 0, 0, 0, 8, 4, 0, 0, 0, 0, ..."
2769,2019-06-03 04:59:13.880,2019-06-03 05:19:11.046,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1197.0,AT,"[[Started, at, underlined], [Celestial, target...",0,"[0, 0, 0, 1, 0, 4, 0, 0, 0, 40, 0, 0, 0, 0, 0,..."
2484,2019-05-29 22:50:42.958,2019-05-29 22:55:33.725,False,MATISSE,bob_ins,MATISSE_img_acq_ft,False,False,290.0,AT,"[[Started, at, underlined], [INTERFY, VAL], [A...",0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 16, 0, 0, 0, 0, 0,..."
5375,2019-08-28 11:03:49.608,2019-08-28 11:04:23.885,False,MATISSE,bob_ins,MATISSE_gen_cal_bias,False,False,34.0,AT,"[[Started, at, underlined], [DEL, REF, MODE, A...",0,"[0, 0, 1, 3, 0, 4, 0, 0, 0, 48, 0, 0, 0, 0, 0,..."

Para preparar una matriz de entrenamiento en un formato NumPy se aplica el método 'transfer_matrix'

In [16]:
X, y = Base.transfer_matrix()
print(X.shape)  # Matriz de palabras 
print(y.shape)  # vector de clasificaciones

Method:  transfer_matrix   Execution time:  0.26008110004477203  Seconds
(1350, 2844)
(1350,)

**Pipeline** : El pipeline para entrenar y/o evaluar modelos debe adaptarse por casos, estos son señalados en el argumento 'method'.

Si 'method' es igual a "Multinomial_NB", entrenará un clasificador Naive Bayes. Se consideran los argumentos "test_size"(transmitido a un train_test_split estratificado de sklearn con semilla fija), y un diccionario 'NB_kwargs' de parámetros para aplicar al modelo.

Por otro lado si 'method' es igual a 'TextBlob' se evaluarán directamente en el objeto "TextBlob_Classifier" los tokens almacenados en target_data aplicando un muestreo estratificado de tamaño "test_size". También recibe el argumento "treshold" para transmitir al clasificador BlobText.

Las evaluaciones se realizan por métricas y son almacenadas en el atributo data del pipeline asociado al Core.

In [17]:
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':0.1})
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':0.5})
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':0.9})
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':1.0})

tokenizer_args = {'regexp': r'\D+', 'gaps': False}
Base.target_tokenization(**tokenizer_args)  # Cambiar expresión regular
Base.target_vectorization(stop_words=stop_words)
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':0.2})
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':0.5})
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':0.5, 'fit_prior' : False})
Base.call_pipeline(method='Multinomial_NB', test_size=0.3, NB_kwargs={'alpha':1.0})

Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  5.942812399938703  Seconds
Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  0.2562232001218945  Seconds
Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  0.2654138000216335  Seconds
Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  0.2576860999688506  Seconds
Method:  target_tokenization   Execution time:  62.87011560006067  Seconds
Method:  target_vectorization   Execution time:  36.51586639997549  Seconds
Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  0.37407170003280044  Seconds
Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  0.4176497000735253  Seconds
Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  0.5244136000983417  Seconds
Method:  call_pipeline over Multinomial_Naive_Bayes   Execution time:  0.4133821001742035  Seconds

In [18]:
# Resultados son representables en un DataFrame
import pandas as pd

result = pd.DataFrame(Base.pipeline.data)
result

,Classifier,Params,RegExp,True_negative,False_negative,True_positive,False_positive,Accuracy,Precision,Recall
0,MultinomialNB(alpha=0.1),{'alpha': 0.1},\b[a-zA-Z]+\b,205,9,72,119,0.683951,0.376963,0.888889
1,MultinomialNB(alpha=0.5),{'alpha': 0.5},\b[a-zA-Z]+\b,199,9,72,125,0.669136,0.365482,0.888889
2,MultinomialNB(alpha=0.9),{'alpha': 0.9},\b[a-zA-Z]+\b,198,9,72,126,0.666667,0.363636,0.888889
3,MultinomialNB(),{'alpha': 1.0},\b[a-zA-Z]+\b,198,9,72,126,0.666667,0.363636,0.888889
4,MultinomialNB(alpha=0.2),{'alpha': 0.2},\D+,172,8,73,152,0.604938,0.324444,0.901235
5,MultinomialNB(alpha=0.5),{'alpha': 0.5},\D+,171,8,73,153,0.602469,0.323009,0.901235
6,"MultinomialNB(alpha=0.5, fit_prior=False)","{'alpha': 0.5, 'fit_prior': False}",\D+,170,8,73,154,0.600000,0.321586,0.901235
7,MultinomialNB(),{'alpha': 1.0},\D+,169,8,73,155,0.597531,0.320175,0.901235

Para el caso de TextBlob:

In [19]:
Base.call_pipeline(method='TextBlob', test_size=0.3,treshold=0.7)
Base.call_pipeline(method='TextBlob', test_size=0.3, treshold=0.9)
Base.call_pipeline(method='TextBlob', test_size=0.3, treshold=1)
Base.call_pipeline(method='TextBlob', test_size=0.3,treshold=1.2)

Base.target_tokenization()
Base.call_pipeline(method='TextBlob', test_size=0.3, treshold=0.7)
Base.call_pipeline(method='TextBlob', test_size=0.3, treshold=0.9)
Base.call_pipeline(method='TextBlob', test_size=0.3, treshold=1)
Base.call_pipeline(method='TextBlob', test_size=0.3, treshold=1.2)

Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  388.1727207999211  Seconds
Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  381.88529080012813  Seconds
Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  355.99471789994277  Seconds
Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  391.5302158999257  Seconds
Method:  target_tokenization   Execution time:  76.77522359997965  Seconds
Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  254.7654786000494  Seconds
Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  281.15252580004744  Seconds
Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  297.7381869000383  Seconds
Method:  call_pipeline over TextBlob_Sentiment_Analysis   Execution time:  290.166062500095  Seconds

In [20]:
result = pd.DataFrame(Base.pipeline.data)
result

,Classifier,Params,RegExp,True_negative,False_negative,True_positive,False_positive,Accuracy,Precision,Recall
0,MultinomialNB(alpha=0.1),{'alpha': 0.1},\b[a-zA-Z]+\b,205,9,72,119,0.683951,0.376963,0.888889
1,MultinomialNB(alpha=0.5),{'alpha': 0.5},\b[a-zA-Z]+\b,199,9,72,125,0.669136,0.365482,0.888889
2,MultinomialNB(alpha=0.9),{'alpha': 0.9},\b[a-zA-Z]+\b,198,9,72,126,0.666667,0.363636,0.888889
3,MultinomialNB(),{'alpha': 1.0},\b[a-zA-Z]+\b,198,9,72,126,0.666667,0.363636,0.888889
4,MultinomialNB(alpha=0.2),{'alpha': 0.2},\D+,172,8,73,152,0.604938,0.324444,0.901235
5,MultinomialNB(alpha=0.5),{'alpha': 0.5},\D+,171,8,73,153,0.602469,0.323009,0.901235
6,"MultinomialNB(alpha=0.5, fit_prior=False)","{'alpha': 0.5, 'fit_prior': False}",\D+,170,8,73,154,0.600000,0.321586,0.901235
7,MultinomialNB(),{'alpha': 1.0},\D+,169,8,73,155,0.597531,0.320175,0.901235
8,'TextBlob_Classifier'(treshold=0.7),{'treshold': 0.7},\D+,188,64,17,136,0.506173,0.111111,0.209877
9,'TextBlob_Classifier'(treshold=0.9),{'treshold': 0.9},\D+,208,67,14,116,0.548148,0.107692,0.172840
10,'TextBlob_Classifier'(treshold=1),{'treshold': 1},\D+,209,75,6,115,0.530864,0.049587,0.074074
11,'TextBlob_Classifier'(treshold=1.2),{'treshold': 1.2},\D+,209,69,12,115,0.545679,0.094488,0.148148
12,'TextBlob_Classifier'(treshold=0.7),{'treshold': 0.7},\b[a-zA-Z]+\b,200,62,19,124,0.540741,0.132867,0.234568
13,'TextBlob_Classifier'(treshold=0.9),{'treshold': 0.9},\b[a-zA-Z]+\b,210,71,10,114,0.543210,0.080645,0.123457
14,'TextBlob_Classifier'(treshold=1),{'treshold': 1},\b[a-zA-Z]+\b,205,71,10,119,0.530864,0.077519,0.123457
15,'TextBlob_Classifier'(treshold=1.2),{'treshold': 1.2},\b[a-zA-Z]+\b,226,75,6,98,0.572840,0.057692,0.074074

Si el atributo 'time_it' del Core es 'True' es posible realizar seguimiento de los tiempos de ejecución de cada método ejecutado (no aplica si la función llama a otros métodos).

In [21]:
history = pd.DataFrame(Base.clock.history)
history

                                   Function/method  Performance time
0                                      sample_meta          0.004274
1                                      sample_meta          0.005736
2                                        load_meta         43.196311
3                                      sample_meta          0.002775
4                                       load_trace          0.081473
5                               trace_tokenization          0.012964
6                               trace_tokenization          0.003759
7                               trace_tokenization          0.007428
8                              target_tokenization         63.040016
9                              target_tokenization         72.625107
10                            target_vectorization         30.876455
11                            target_vectorization         29.344129
12                                 transfer_matrix          0.260081
13      call_pipeline over Multinomial_Naive_Bayes          5.942812
14      call_pipeline over Multinomial_Naive_Bayes          0.256223
15      call_pipeline over Multinomial_Naive_Bayes          0.265414
16      call_pipeline over Multinomial_Naive_Bayes          0.257686
17                             target_tokenization         62.870116
18                            target_vectorization         36.515866
19      call_pipeline over Multinomial_Naive_Bayes          0.374072
20      call_pipeline over Multinomial_Naive_Bayes          0.417650
21      call_pipeline over Multinomial_Naive_Bayes          0.524414
22      call_pipeline over Multinomial_Naive_Bayes          0.413382
23  call_pipeline over TextBlob_Sentiment_Analysis        388.172721
24  call_pipeline over TextBlob_Sentiment_Analysis        381.885291
25  call_pipeline over TextBlob_Sentiment_Analysis        355.994718
26  call_pipeline over TextBlob_Sentiment_Analysis        391.530216
27                             target_tokenization         76.775224
28  call_pipeline over TextBlob_Sentiment_Analysis        254.765479
29  call_pipeline over TextBlob_Sentiment_Analysis        281.152526
30  call_pipeline over TextBlob_Sentiment_Analysis        297.738187
31  call_pipeline over TextBlob_Sentiment_Analysis        290.166063