Este Notebook es para realizar pruebas de la estructura que tengo en mente.

In [1]:
from Structure import Core

Base = Core(time_it=True)  # El objeto por defecto obtiene el dataframe de load_meta('MATISSE','1d')
                           # el argumento "time_it" es solo para activar un medidor de tiempo de los métodos.

Loading Metadata for:
INSTRUMENT: MATISSE
RANGE: 1d

Done.

In [2]:
Base.meta_data.head()  # el habitual "df_meta" queda guardado en el atributo meta_data

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
0,2019-04-10 00:16:03.269,2019-04-10 00:20:35.831,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,272.0,AT
1,2019-04-10 00:20:35.848,2019-04-10 00:42:17.085,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1301.0,AT
2,2019-04-10 00:42:17.106,2019-04-10 01:11:09.300,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1732.0,AT
3,2019-04-10 01:11:09.325,2019-04-10 01:22:27.609,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,678.0,AT
4,2019-04-10 01:22:40.579,2019-04-10 01:29:34.127,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,413.0,AT

In [3]:
Base.meta_data[Base.meta_data['ERROR'] == True]  # Buscar un error

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL
9,2019-04-10 02:29:03.290,2019-04-10 02:34:37.571,False,MATISSE,bob_ins,MATISSE_img_acq,True,False,334.0,AT
51,2019-04-10 20:57:47.358,2019-04-10 21:05:44.126,False,MATISSE,bob_ins,errseverity,True,False,476.0,AT
52,2019-04-10 21:05:44.126,2019-04-10 21:09:08.833,False,MATISSE,bob_ins,errseverity,True,False,204.0,AT

In [4]:
Base.load_trace(index=9)  # el método "load_trace" cargará la traza asociada al seleccionado índice

Loading Trace for ID: 9
Done.
Execution time:  0.9949858000036329  Seconds

In [5]:
Base.meta_tokenization()  # Este método tokenizará cada traza en meta_data y lo cargará en una columna llamada "Trace_tokens"

Loading Trace for ID: 0
Done.
Loading Trace for ID: 1
Done.
Loading Trace for ID: 2
Done.
Loading Trace for ID: 3
Done.
Loading Trace for ID: 4
Done.
Loading Trace for ID: 5
Done.
Loading Trace for ID: 6
Done.
Loading Trace for ID: 7
Done.
Loading Trace for ID: 8
Done.
Loading Trace for ID: 9
Done.
Loading Trace for ID: 10
Done.
Loading Trace for ID: 11
Done.
Loading Trace for ID: 12
Done.
Loading Trace for ID: 13
Done.
Loading Trace for ID: 14
Done.
Loading Trace for ID: 15
Done.
Loading Trace for ID: 16
Done.
Loading Trace for ID: 17
Done.
Loading Trace for ID: 18
Done.
Loading Trace for ID: 19
Done.
Loading Trace for ID: 20
Done.
Loading Trace for ID: 21
Done.
Loading Trace for ID: 22
Done.
Loading Trace for ID: 23
Done.
Loading Trace for ID: 24
Done.
Loading Trace for ID: 25
Done.
Loading Trace for ID: 26
Done.
Loading Trace for ID: 27
Done.
Loading Trace for ID: 28
Done.
Loading Trace for ID: 29
Done.
Loading Trace for ID: 30
Done.
Loading Trace for ID: 31
Done.
Loading Trace for ID: 32
Done.
Loading Trace for ID: 33
Done.
Loading Trace for ID: 34
Done.
Loading Trace for ID: 35
Done.
Loading Trace for ID: 36
Done.
Loading Trace for ID: 37
Done.
Loading Trace for ID: 38
Done.
Loading Trace for ID: 39
Done.
Loading Trace for ID: 40
Done.
Loading Trace for ID: 41
Done.
Loading Trace for ID: 42
Done.
Loading Trace for ID: 43
Done.
Loading Trace for ID: 44
Done.
Loading Trace for ID: 45
Done.
Loading Trace for ID: 46
Done.
Loading Trace for ID: 47
Done.
Loading Trace for ID: 48
Done.
Loading Trace for ID: 49
Done.
Loading Trace for ID: 50
Done.
Loading Trace for ID: 51
Done.
Loading Trace for ID: 52
Done.
Loading Trace for ID: 53
Done.
Loading Trace for ID: 54
Done.
Loading Trace for ID: 55
Done.
Loading Trace for ID: 56
Done.
Loading Trace for ID: 57
Done.
Loading Trace for ID: 58
Done.
Loading Trace for ID: 59
Done.
Loading Trace for ID: 60
Done.
Loading Trace for ID: 61
Done.
Loading Trace for ID: 62
Done.
Loading Trace for ID: 63
Done.
Loading Trace for ID: 64
Done.
Loading Trace for ID: 65
Done.
Loading Trace for ID: 66
Done.
Loading Trace for ID: 67
Done.
Loading Trace for ID: 68
Done.
Loading Trace for ID: 69
Done.
Execution time:  26.483678499993403  Seconds

In [8]:
Base.meta_data

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens
0,2019-04-10 00:16:03.269,2019-04-10 00:20:35.831,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,272.0,AT,"[[Started, at, underlined], [Celestial, target..."
1,2019-04-10 00:20:35.848,2019-04-10 00:42:17.085,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1301.0,AT,"[[Celestial, target, observation, yellow], [St..."
2,2019-04-10 00:42:17.106,2019-04-10 01:11:09.300,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1732.0,AT,"[[Celestial, target, observation, yellow], [St..."
3,2019-04-10 01:11:09.325,2019-04-10 01:22:27.609,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,678.0,AT,"[[Started, at, underlined], [WLMINCUT, VAL], [..."
4,2019-04-10 01:22:40.579,2019-04-10 01:29:34.127,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,413.0,AT,"[[Celestial, target, acquisition, yellow], [St..."
...,...,...,...,...,...,...,...,...,...,...,...
65,2019-04-10 23:36:34.218,2019-04-10 23:37:22.734,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,48.0,AT,"[[Started, at, underlined], [Celestial, target..."
66,2019-04-10 23:37:45.605,2019-04-10 23:40:12.335,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,146.0,AT,"[[Started, at, underlined], [Celestial, target..."
67,2019-04-10 23:40:15.899,2019-04-10 23:43:40.407,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,204.0,AT,"[[Started, at, underlined], [Celestial, target..."
68,2019-04-10 23:45:18.254,2019-04-10 23:51:49.993,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,391.0,AT,"[[Celestial, target, acquisition, yellow], [St..."
69,2019-04-10 23:52:09.722,2019-04-10 23:59:09.727,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,420.0,AT,"[[Celestial, target, acquisition, yellow], [St..."

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
import pandas as pd
#df = Base.meta_data.copy()
df : pd.DataFrame
df['text'] = df['Trace_tokens'].apply(lambda token_list:' '.join([' '.join(tokens) for tokens in token_list]))  # esto va entregar un vector x log (debo probar con una matriz x log)
print(df['text'])

0     Started at underlined Celestial target acquisi...
1     Celestial target observation yellow Started at...
2     Celestial target observation yellow Started at...
3     Started at underlined WLMINCUT VAL WLMINCUT VA...
4     Celestial target acquisition yellow Started at...
                            ...
65    Started at underlined Celestial target acquisi...
66    Started at underlined Celestial target acquisi...
67    Started at underlined Celestial target acquisi...
68    Celestial target acquisition yellow Started at...
69    Celestial target acquisition yellow Started at...
Name: text, Length: 70, dtype: object

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

X = vectorizer.fit_transform(df['text'])

#vectorized_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

vector_list = X.toarray().tolist()

In [21]:
df['vector_C1'] = vector_list

In [22]:
df  # Que los otros sigan una vez listo el primer vectorizador y yo sigo aquí arreglando la base.

,START,END,TIMEOUT,system,procname,TPL_ID,ERROR,Aborted,SECONDS,TEL,Trace_tokens,text,vector_C1
0,2019-04-10 00:16:03.269,2019-04-10 00:20:35.831,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,272.0,AT,"[[Started, at, underlined], [Celestial, target...",Started at underlined Celestial target acquisi...,"[0, 0, 0, 0, 4, 0, 32, 0, 0, 0, 27, 0, 0, 0, 3..."
1,2019-04-10 00:20:35.848,2019-04-10 00:42:17.085,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1301.0,AT,"[[Celestial, target, observation, yellow], [St...",Celestial target observation yellow Started at...,"[0, 0, 0, 1, 0, 0, 20, 0, 0, 0, 32, 0, 0, 0, 0..."
2,2019-04-10 00:42:17.106,2019-04-10 01:11:09.300,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,1732.0,AT,"[[Celestial, target, observation, yellow], [St...",Celestial target observation yellow Started at...,"[0, 0, 0, 1, 0, 0, 20, 0, 0, 0, 32, 0, 0, 0, 0..."
3,2019-04-10 01:11:09.325,2019-04-10 01:22:27.609,False,MATISSE,bob_ins,MATISSE_hyb_obs,False,False,678.0,AT,"[[Started, at, underlined], [WLMINCUT, VAL], [...",Started at underlined WLMINCUT VAL WLMINCUT VA...,"[0, 0, 0, 0, 0, 0, 12, 0, 0, 0, 8, 0, 0, 0, 0,..."
4,2019-04-10 01:22:40.579,2019-04-10 01:29:34.127,False,MATISSE,bob_ins,MATISSE_img_acq,False,False,413.0,AT,"[[Celestial, target, acquisition, yellow], [St...",Celestial target acquisition yellow Started at...,"[0, 0, 0, 0, 4, 0, 40, 0, 0, 0, 32, 0, 0, 0, 4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2019-04-10 23:36:34.218,2019-04-10 23:37:22.734,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,48.0,AT,"[[Started, at, underlined], [Celestial, target...",Started at underlined Celestial target acquisi...,"[0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0, 2,..."
66,2019-04-10 23:37:45.605,2019-04-10 23:40:12.335,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,146.0,AT,"[[Started, at, underlined], [Celestial, target...",Started at underlined Celestial target acquisi...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0, 9,..."
67,2019-04-10 23:40:15.899,2019-04-10 23:43:40.407,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,204.0,AT,"[[Started, at, underlined], [Celestial, target...",Started at underlined Celestial target acquisi...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0, 9,..."
68,2019-04-10 23:45:18.254,2019-04-10 23:51:49.993,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,391.0,AT,"[[Celestial, target, acquisition, yellow], [St...",Celestial target acquisition yellow Started at...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 15, 0, 0, 0, 30..."
69,2019-04-10 23:52:09.722,2019-04-10 23:59:09.727,False,MATISSE,bob_163744,MATISSE_img_acq,False,False,420.0,AT,"[[Celestial, target, acquisition, yellow], [St...",Celestial target acquisition yellow Started at...,"[0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 19, 0, 0, 0, 23..."

In [6]:
Base.trace_tokenization()  # el tokenizador de trazas puede recibir argumetos en expresiones regulares para probar distíntos filtros

Execution time:  0.024202400003559887  Seconds

60067             [Celestial, target, acquisition, yellow]
60068                            [Started, at, underlined]
60069                                      [WLMINCUT, VAL]
60070                         [COU, AG, GSSOURCE, SCIENCE]
60071                                     [COU, AG, EPOCH]
                               ...
62950                               [SETUP, command, done]
62951                                                   []
62952                                 [Template, finished]
62953              [Finished, in, seconds, at, underlined]
62954    [TplExecTimeStats, TPL, ID, estimated, real, d...
Name: logtext, Length: 2888, dtype: object

In [7]:
Base.trace_tokenization(regexp=r'\D+')

Execution time:  0.0172131999861449  Seconds

60067    [MATISSE_img_acq -- Celestial target acquisiti...
60068          [Started at , -, -, T, :, :,  (underlined)]
60069                       [DET,  WLMINCUT VAL = ', ., ']
60070                        [COU AG GSSOURCE = 'SCIENCE']
60071                                [COU AG EPOCH = ', ']
                               ...
62950                                [SETUP command done.]
62951                                [-,  (SpringGreen, )]
62952                 [Template MATISSE_img_acq finished.]
62953    [Finished in ,  seconds at , -, -, T, :, :,  (...
62954    [TplExecTimeStats: TPL.ID MATISSE_img_acq  est...
Name: logtext, Length: 2888, dtype: object

In [11]:
Base.trace_tokenization(regexp=r'[a-zA-Z]+')

Execution time:  0.02167299995198846  Seconds

60067    [MATISSE, img, acq, Celestial, target, acquisi...
60068                         [Started, at, T, underlined]
60069                                 [DET, WLMINCUT, VAL]
60070                         [COU, AG, GSSOURCE, SCIENCE]
60071                                     [COU, AG, EPOCH]
                               ...
62950                               [SETUP, command, done]
62951                                        [SpringGreen]
62952              [Template, MATISSE, img, acq, finished]
62953           [Finished, in, seconds, at, T, underlined]
62954    [TplExecTimeStats, TPL, ID, MATISSE, img, acq,...
Name: logtext, Length: 2888, dtype: object

In [9]:
Base.trace_tokenization(regexp=r'\s+', gaps=True)

Execution time:  0.02972099999897182  Seconds

60067    [MATISSE_img_acq, --, Celestial, target, acqui...
60068     [Started, at, 2019-04-10T02:29:03, (underlined)]
60069                      [DET1, WLMINCUT, VAL, =, '3.0']
60070                    [COU, AG, GSSOURCE, =, 'SCIENCE']
60071                          [COU, AG, EPOCH, =, '2000']
                               ...
62950                              [SETUP, command, done.]
62951                                 [-1, (SpringGreen4)]
62952               [Template, MATISSE_img_acq, finished.]
62953    [Finished, in, 334, seconds, at, 2019-04-10T02...
62954    [TplExecTimeStats:, TPL.ID, MATISSE_img_acq, e...
Name: logtext, Length: 2888, dtype: object

In [ ]:
logs = Base.trace_data.logtext.to_list()
logs  # err in 642

In [22]:
Base.trace_data[Base.trace_data['logtext'].str.contains('ERR_')][:5]

,@timestamp,system,hostname,loghost,logtype,envname,procname,procid,module,keywname,keywvalue,keywmask,logtext,trace_id
60164,2019-04-10 02:29:04.439,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,9
60370,2019-04-10 02:29:15.665,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issprsControl,22.0,evh,,,,evhERR_CMD_NOT_CHECKED : Command SETUP not che...,9
60458,2019-04-10 02:29:16.628,AT4,wat4tcs,wat4tcs,ERR,wat4tcs,atagwsControl,70.0,eccs,,,,eccsERR_BUF_TOO_BIG : Buffer too big. Size: 70...,9
60467,2019-04-10 02:29:16.631,AT3,wat3tcs,wat3tcs,ERR,wat3tcs,atagwsControl,70.0,eccs,,,,eccsERR_BUF_TOO_BIG : Buffer too big. Size: 70...,9
60501,2019-04-10 02:29:16.634,AT2,wat2tcs,wat2tcs,ERR,wat2tcs,atagwsControl,70.0,eccs,,,,eccsERR_BUF_TOO_BIG : Buffer too big. Size: 70...,9

In [23]:
Base.load_trace(index=10)

In [25]:
Base.trace_data[Base.trace_data['logtext'].str.contains('ERR_')][:5]

,@timestamp,system,hostname,loghost,logtype,envname,procname,procid,module,keywname,keywvalue,keywmask,logtext,trace_id
63160,2019-04-10 02:35:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63255,2019-04-10 02:36:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63388,2019-04-10 02:36:40.103,MATISSE,wmt,wmt,ERR,wvgvlti,issalignControl,31.0,issalig,,,,issalignERR_EVT_TIMEOUT : TIMEOUT in sub-state...,10
63441,2019-04-10 02:37:04.441,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63537,2019-04-10 02:38:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10

In [27]:
Base.trace_data['logtype'].unique()
Base.trace_data[Base.trace_data['logtype'] == 'ERR'][:5]

,@timestamp,system,hostname,loghost,logtype,envname,procname,procid,module,keywname,keywvalue,keywmask,logtext,trace_id
63160,2019-04-10 02:35:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63255,2019-04-10 02:36:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63388,2019-04-10 02:36:40.103,MATISSE,wmt,wmt,ERR,wvgvlti,issalignControl,31.0,issalig,,,,issalignERR_EVT_TIMEOUT : TIMEOUT in sub-state...,10
63441,2019-04-10 02:37:04.441,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10
63537,2019-04-10 02:38:04.440,ISS,wvgvlti,wvgvlti,ERR,wvgvlti,issmonControl,62.0,tcsmon,,,,tcsmonERR_ENVIRONMENT : enviroment data at lea...,10

In [29]:
# Buscar errores en logtype es equivalente a buscar la palabra ERR_ en el logtext
Base.trace_data[Base.trace_data['logtype'] == 'ERR'].equals(Base.trace_data[Base.trace_data['logtext'].str.contains('ERR_')])

True